spring:
  application:
    name: portfolio-api
  data:
    mongodb:
      uri: mongodb+srv://portfolio:portfolio@cluster0.sjpjbei.mongodb.net/?appName=Cluster0
      auto-index-creation: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: prdy0000@gmail.com
    password: 8099957837
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl
    charset: UTF-8
    expose-request-attributes: true
    expose-spring-macro-helpers: true

server:
  port: 8080

logging:
  level:
    root: INFO
    com.example: DEBUG
